:root {
  --primary-color: #333;
  --secondary-color: #555;
  --tertiary-color: #777;
  --text-color: #fff;
  --background-color: #000;
  --border-color: #fff;
  --color-white: #fff;
  --box-shadow-style: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

section {
    padding: 1rem;
}